@media (max-width: 767px) {

  .srk-title {
    font-size: 30px !important;
    margin: 15px 0px;
  }

  .image-fit-contain img {
    width: 100%;
    height: auto !important;   
    padding: 5px 0px;
  }

}




.srk-banner-img {
  border-radius: 8px;
}

.srk-title {
  font-size: 50px;
  font-weight: 700;
  margin: 20px 0px;
}

.srk-meta {
  font-size: 14px;
  color: #555;
}

.srk-desc {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 20px;
}

.section-heading {
  margin-top: 25px;
  font-size: 20px;
  font-weight: 700;
}
.image-fit-contain img{
    width: 100%;
    height: 500px;
    padding: 10px 0px;
}
.add_section {
  border: 1px solid #eee;
  border-radius: 6px;
  background: #fafafa;
  top: 80px;
  width: 100%;
}
.logo_Add img{
    width: 100%;
}
.add_section-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.add_section-list li {
  margin-bottom: 10px;
  cursor: pointer;
}

.add_section-list li:hover {
  text-decoration: underline;
}
