@media (max-width: 767px) {
    .feature-title {
    font-size: 22px !important;
    font-weight: 700;
}
}
.feature-banner {
    position: relative;
}

.feature-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 6px;
    transition: transform 0.6s ease;
}

.feature-img:hover {
    transform: scale(1.04);
}
.feature-banner {
    overflow: hidden;
}

.feature-text {
    position: absolute;
    bottom: 0px;
    left: 25px;
    color: white;
    max-width: 100%;
}

.img-wrapper {
    position: relative;
}

.img-tag {
    position: absolute;
    background: rgb(0, 119, 231);
    color: #fff;
    padding: 4px 10px;
    font-size: 12px;
    border-radius: 4px;
    font-weight: 500;
}

.img-tag.top-left {
    bottom: 10px;
    left: 10px;
}


.feature-title {
    font-size: 40px;
    font-weight: 700;
}

.tag {
    background: #007bff;
    color: white;
    padding: 2px 8px;
    font-size: 11px;
    border-radius: 3px;
    text-transform: uppercase;
}

.medium-box img,
.small-box img {
    height: 170px;
    object-fit: cover;
}

.small-img {
    height: 130px;
}

/* .card-title.small {
  font-size:;
} */